.App{
    text-align: center;
}

.weather-container{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    padding-bottom: 2%;
}

.daily{
    font-size: 1em;
    border: 2px solid black;
    width: 12%;
    background-color: rgb(106,1,0, 0.5)
}

.degree-toggle {
    display: inline-block;
    padding: 1% 3%;
    font-size: 18px;
    cursor: pointer;
    outline: none;
    color: rgb(104,14,0);
    background-color: rgb(253,203,10);
    border: none;
    box-shadow: 0 9px rgb(104,14,0);
}

.degree-toggle:hover {
    background-color: rgb(104,14,0);
    color: rgb(253,203,10);
    box-shadow: 0 9px rgb(253,203,10);
}

.degree-toggle:active {
    transform: translateY(4px);
}